node_modules
externalDocs
notes.md
todo.md
*.pyc
.DS_Store
*.pid
*.server.sock
.*.swp
*~
tmp/sockets/*
tmp/pids/*
.jshint
npm-debug.log
!.gitignore
.gitignore.bak
package.json.bak
*.pyc
.lock-wscript
doctored.*
test.out

# ignore build intermediate files
*.log
*.o
*.Plo
*.dylib
Release.cache.py
build.config.py
.wafpickle-7
